    <h1 class="title title--space">Det sker <span class="title__bold">også i dag </span></h1>
    <div class="timeline">
      <% Event.repeating_this_week.each do |item|  %>
        <% offset = (item.start_time.strftime('%k.%M').to_f - 8.0) / 16 * 100  %>
        <% duration = (item.end_time.strftime('%k.%M').to_f - item.start_time.strftime('%k.%M').to_f) / 16 * 100  %>
        <% extra_class = (duration < 20 && offset < 50) ? ['timeline__event--right'] : [] %>
        <% extra_class << ' timeline__event--left' if (duration < 20 && offset > 50) %>
        <% color_class = 'timeline__event--color' + rand(1...4).to_s %>
        <%= content_tag(:div, class: "timeline__event #{color_class} #{extra_class.join}", data: { text: item.title }, style: "width: #{duration}%; margin-left: #{offset}%") do %>
          <%= item.title.truncate(25) unless extra_class.any? %>
      <% end %>
      <% end %>
        <div class="timeline__scale">
            <div class="timeline__min">
                08:00
            </div>
            <div class="timeline__max">
                24:00
            </div>
            <div class="timeline__now" id="timeline__now"></div>
        </div>
    </div>
